body{
  /* background-color:  #6acfdd;
   background-color:  #ffef00;
   background-color:  #6e4e03;
   background-color:  #553c01;
   background-color:  #845600;
   background-color:  #e2e2e2;*/
   background-color: #7c7bad;

}